# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/xcshareddata/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
**/GooglePlacesService.swift
**/GolfCourseAPIService.swift
papadot_all_files.txt
Config.xcconfig
*.xcconfig

# Claude Code worktrees (linked worktrees created by Claude agents)
.claude/worktrees/
